* {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: bolder;
  text-align: center;
}

h2 {
  font-weight: bolder;
  text-align: center;
}

body {
  background-color: #A4EE9F;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  columns: row;
}

.btn {
  margin-top: 7%;
  margin-right: 12px;
  margin-left: 12px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.btn:hover {
  transform: scale(1.1);
  background-color: #E1F5D8;
}

.btn img {
  display: block;
  width: 80%;
  height: 80%;
  object-fit: cover;
}

.score-container{
  display: flex;
  align-items: center;
  columns:row;
}

.text{
  font-size: 19px
  margin
}